# use glob syntax.
*.a
*.dylib
*.egg-info/
*.exe
*.ilk
*.log
*.o
*.opensdf
*.orig
*.pdb
*.psess
*.pyc
*.sdf
*.so
*.so.[0123456789]
*.so.[0123456789].[0123456789]
*.suo
*.swo
*.swp
*.tlog
*.user
*.vsp
*.DS_Store
*.cd
*.sbr
.idea/
.vs/
.vscode/

CMakeFiles/
Debug/
README.html
Release/
Untitled.ipynb

*.VC.db
*.dll
*.exe
*.ipch
*.pch
*.sdf
*.ncb
*.tlog
*.obj
*.iobj
*.pdb
*.ipdb
*.exp
*.log
*.recipe
*.vc.db
*.ncb
*.xlsx
*.pdf
*.docx
 
# PreCompiled Header，就是预先编译好的头文件，在编译时指定/Yu开关时编译器自动生成
*.pch
	
# Program DataBase，即程序数据库文件，用来记录调试信息
*.pdb

# 用户界面的自定义配置文件
*.suo	
	
# 也是用户界面的自定义配置文件
*.vcxproj.user	


# 编译器生成的浏览信息文件，在代码导航的时候非常有用
*.sbr	

# class diagram, 类图；	 
*.cd	

/Debug
/Release

# 不忽略的文件夹
!tutorial/
!LearnOpenGL-master/
!LearnOpenGLBuild/LearnOpenGL中文文档/

 
 